<html>

<body>
		<header>
			<h1>PAGE FORMULAIRE</h1>
		</header>
<secion>	        
	  <%= form_tag action= "new", method: "post" do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= label_tag 'Username' %>
      <%= text_field_tag 'username', @user.username %>
      <br /> <br />

      <%= label_tag 'Email' %>
      <%= text_field_tag 'email', @user.email %>
      <br /> <br />

      <%= label_tag 'Bio' %>
      <%= text_area_tag 'bio', @user.bio %>
      <br /> <br />

      <%= submit_tag "Create User" %>

    <% end %>
 </form>
</section>

</body>
</html>